.summary-content {
    height: 100%;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    margin: 0 auto;
}

.summary-content img {
    height: 7rem;
}

.summary-title {
    font-size: 3rem;
}

.summary-text {
    font-size: 1.5rem;
    color: var(--cool-gray);
}

@media screen and (max-width: 600px) {
    .summary-content {
        text-align: center;
    }
}