.form-container {
    width: max(80%, 1000px);
    height: max(89vh, 760px);
    margin: 0 auto;
    background: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    color: var(--marine-blue);
    justify-content: center;
    /*align-items: center;*/
}

.step-container {
    width: 100%;
    padding-right: 2rem;
}

.side-bar-container {
    padding: 2rem 2rem ;
}

.side-bar {
    float: left;
    min-width: 376px;
    height: 100%;
    background-image: url(../../images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 1/2;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 2rem;
}

.form-side-wrapper {
    height: calc(100% - 130px);
    width: 100%;
    margin-right: 2.5rem;
    margin-bottom: 2rem;
}

.form-side-title {
    margin: 60px 0 5px 0;
    font-size: 36px;
}

.form-side-subtitle {
    display: block;
    margin: 0 0 15%;
    color: var(--cool-gray);
}

.form-side-form {
    height: 80%;
    display: flex;
    flex-direction: column;
}

.form-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.form-label {
    margin: .5rem 0 ;
    font-weight: bold;
}

.form-input {
    line-height: 3.5rem;
    border-radius: 10px;
    outline-style: none;
    border: 1px solid  var(--cool-gray);
    padding-left: 1rem;

    font-size: 1.5rem;
    font-weight: 400;
    color: var(--marine-blue)
}
.form-input::placeholder {
    color: var(--light-gray);
    font-weight: 400;
}

.step-number-container {
    display: flex;
    align-items: center;

    color: var(--alabaster);
}

.step-number, .step-number--active {
    margin: 1.5rem 1rem;
    width: 4rem;
    height: 4rem;

    border-radius: 50%;
    border: 1px solid var(--alabaster);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    font-weight: bold;
}

.step-number--active {
    border: none;
    background: var(--alabaster);
    color: var(--purplish-blue);
}

.title-container {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.step-subtitle {
    color: var(--light-gray);
    font-size: 1.5rem;
    font-weight: 400;
}

.step-title {
    font-size: 1.5rem;
    font-weight: 400;
}

.form-button {
    height: 3rem;
    width: 150px;
    margin-top: 10rem;
    align-self: flex-end;

    background: var(--marine-blue);
    border-radius: 10px;

    color: var(--alabaster);
    font-size: 1.5rem;

    cursor: pointer;
}

.validation-msg {
    margin: .5rem 0;
    font-weight: bold;
    color:var(--strawberry-red)
}

.label-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-input--invalid {
    border: 1px solid var(--strawberry-red);
}

.span-section {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.form-button-back {
    color: var(--cool-gray);
    text-decoration: underline;
    border: none;
    background: var(--white);
}

.form-button-back:hover {
    color: var(--marine-blue);
}


